<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.bytecraft.app.transitodf" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TransitoMxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReglamentoActivity"
            android:label="@string/title_reglamento"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.bytecraft.app.transitodf.MainActivity" />
        </activity>
        <activity
            android:name=".ArticuloActivity"
            android:label="@string/title_articulo"
            android:parentActivityName=".ReglamentoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.bytecraft.app.transitodf.ReglamentoActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.bytecraft.app.transitodf.MainActivity" />
        </activity>
        <activity
            android:name=".InfraccionesActivity"
            android:label="@string/title_activity_infracciones"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.bytecraft.app.transitodf.MainActivity" />
        </activity>
        <activity
            android:name=".DepositosActivity"
            android:label="@string/title_activity_depositos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.bytecraft.app.transitodf.MainActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>
